.table-list > li {

	&:after {
		position: relative;
		display: inline-block;
		width: 40px;
		width: 2.5rem;
		height: 40px;
		height: 2.5rem;
		float: right;
		background-size: 150%;
		background-position: 40% 0;
		background-repeat: no-repeat;
		content: "";

		@media all and (min-width: 360px) {
			width: 48px;
			width: 3rem;
			height: 48px;
			height: 3rem;
		}

		@media all and (min-width: 620px) {
			width: 20%;
			margin-right: 16px;
			margin-right: 1rem;
			background-size: 100%;
		}

		@media all and (min-width: 700px) {
			width: 25%;
			margin-right: 24px;
			margin-right: 1.5rem;
		}

		@media all and (min-width: 770px) {
			width: 33%;
			margin-right: 32rem;
			margin-right: 2rem;
		}

		@media all and (min-width: 1024px) {
			width: 100%;
			height: 100%;
			margin: 0;
			background-size: 150%;
			transition: .15s ease-out;
		}
	}

	&.active {
		&:after {
			position: absolute;
			right: 0;
			float: none;
		}
	}
}

@media all and (min-width: 1024px) {
	.table-list > li:hover {
		&:after {
			background-size: 130%;
		}
	}
}

/* ==========================================================================
   Team Logos & Positioning
   ========================================================================== */


/* Team Background Mixin - source of background image, position square, position rectangle
========================================================================== */

@mixin team-bg($src, $pos-square, $pos-rectangle) {
	&:after {
		background-image: url('../images/svg/#{$src}.svg');
		background-position: $pos-square;

		@media all and (min-width: 620px) and (max-width: 1024px) {
			background-position: $pos-rectangle;
		}
	}
}


/* Background images for table-list > li:after logo blocks
========================================================================== */
.table-list {

	/* Atlanta United
	========================================================================== */
	.atlanta-united {
		@include team-bg('atlanta-united', -15% -15%, 0 40%);
	}


	/* Chicago Fire
	========================================================================== */
	.chicago-fire {
		@include team-bg('chicago-fire', 0 0, 0 40%);
	}



	/* Chivas USA
	========================================================================== */
	.chivas-usa {
		@include team-bg('chivas-usa', 0 10%, 0 64%);
	}



	/* FC Cincinnati
	========================================================================== */
	.fc-cincinnati {
		@include team-bg('fc-cincinnati', -20% -15%, 0 64%);
	}



	/* Colorado Rapids
	========================================================================== */
	.colorado-rapids {
		@include team-bg('colorado-rapids', 20% 0, 0 60%);
	}

	// 1996-2006
	@for $i from 1996 through 2006 {
		&[data-year="#{$i}"] .colorado-rapids {
			@include team-bg('colorado-rapids-1996-2006', 10% 40%, 0 55%);
		}
	}



	/* Columbus Crew
	========================================================================== */
	.columbus-crew {
		@include team-bg('columbus-crew', 6% 0, 0 41%);
	}

	// 1996-2014
	@for $i from 1996 through 2014 {
		&[data-year="#{$i}"] .columbus-crew {
			@include team-bg('columbus-crew-1996-2014', 20% 0, 0 47%);
		}
	}



	/* D.C. United
	========================================================================== */
	.dc-united {
		@include team-bg('dc-united', 20% -10%, 0 52%);
	}

	// 1996-1997
	@for $i from 1996 through 1997 {
		&[data-year="#{$i}"] .dc-united {
			@include team-bg('dc-united-1996-1997', 20% -10%, 0 25%);
		}
	}



	/* FC Dallas
	========================================================================== */
	.fc-dallas {
		@include team-bg('fc-dallas', 0 -5%, 0 45%);
	}

	// 1996-2004
	@for $i from 1996 through 2004 {
		&[data-year="#{$i}"] .fc-dallas {
			@include team-bg('fc-dallas-1996-2004', 20% 10%, 0 57%);
		}
	}



	/* Houston Dynamo
	========================================================================== */
	.houston-dynamo {
		@include team-bg('houston-dynamo', 0 10%, 0 46%);
	}



	/* Impact Montréal
	========================================================================== */
	.impact-montreal {
		@include team-bg('impact-montreal', 0 0, 0 27%);
	}



	/* LAFC
	========================================================================== */
	.la-fc {
		@include team-bg('la-fc', -15% -10%, 0 0);
	}



	/* LA Galaxy
	========================================================================== */
	.la-galaxy {
		@include team-bg('la-galaxy', 20% 0, 0 35%);
	}

	// 2003-2007
	@for $i from 2003 through 2007 {
		&[data-year="#{$i}"] .la-galaxy {
			@include team-bg('la-galaxy-2003-2007', 0 0, 0 46%);
		}
	}

	// 1996-2002
	@for $i from 1996 through 2002 {
		&[data-year="#{$i}"] .la-galaxy {
			@include team-bg('la-galaxy-1996-2002', 0 0, 0 46%);
		}
	}



	/* Miami Fusion
	========================================================================== */
	.miami-fusion {
		@include team-bg('miami-fusion', 0 45%, 0 49%);
	}



	/* Minnesota United
	========================================================================== */
	.minnesota-united {
		@include team-bg('minnesota-united', 0 40%, 0% 0%);
	}



	/* New England Revolution
	========================================================================== */
	.new-england-revolution {
		@include team-bg('new-england-revolution', 0 20%, 0 40%);
	}



	/* New York City FC
	========================================================================== */
	.new-york-city-fc {
		@include team-bg('new-york-city-fc', 5% 0%, 0 49%);
	}



	/* New York Red Bulls
	========================================================================== */
	.new-york-red-bulls {
		@include team-bg('new-york-red-bulls', 0 20%, 0 49%);
	}

	// 2006-2007
	@for $i from 2006 through 2007 {
		&[data-year="#{$i}"] .new-york-red-bulls {
			@include team-bg('new-york-red-bulls-2006-2007', 20% 40%, 0 49%);

			&:after {
				background-size: 200%;
				
				@media all and (min-width: 620px) and (max-width: 1024px) {
					background-size: 100%;
				}
			}

			&:hover {
				@media all and (min-width: $large) {
					&:after {
						background-size: 170%;
					}	
				}
			}
		}
	}

	// 1998-2005
	@for $i from 1998 through 2005 {
		&[data-year="#{$i}"] .new-york-red-bulls {
			@include team-bg('new-york-red-bulls-1998-2005', 30% 0, 0 45%);
		}
	}

	// 1996-1997
	@for $i from 1996 through 1997 {
		&[data-year="#{$i}"] .new-york-red-bulls {
			@include team-bg('new-york-red-bulls-1996-1997', 20% 10%, 0 70%);
		}
	}



	/* Orlando City
	========================================================================== */
	.orlando-city {
		@include team-bg('orlando-city', 5% -5%, 0 33%);
	}



	/* Philadelphia Union
	========================================================================== */
	.philadelphia-union {
		@include team-bg('philadelphia-union', 5% 0, 0 53%);
	}



	/* Portland Timbers
	========================================================================== */
	.portland-timbers {
		@include team-bg('portland-timbers', 15% 8%, 0 30%);
	}

	// 2011-2014
	@for $i from 2011 through 2014 {
		&[data-year="#{$i}"] .portland-timbers {
			@include team-bg('portland-timbers-2011-2014', 15% 8%, 0 30%);
		}
	}



	/* Real Salt Lake
	========================================================================== */
	.real-salt-lake {
		@include team-bg('real-salt-lake', 20% -10%, 0 40%);
	}

	// 2005-2009
	@for $i from 2005 through 2009 {
		&[data-year="#{$i}"] .real-salt-lake {
			@include team-bg('real-salt-lake-2005-2009', 30% 0, 0 57%);
		}
	}



	/* San Jose Earthquakes
	========================================================================== */
	.san-jose-earthquakes {
		@include team-bg('san-jose-earthquakes', 20% 0, 0 60%);
	}

	// 2008-2013
	@for $i from 2008 through 2013 {
		&[data-year="#{$i}"] .san-jose-earthquakes {
			@include team-bg('san-jose-earthquakes-2008-2013', 20% 0, 0 47%);
		}
	}

	// 2000-2005
	@for $i from 2000 through 2005 {
		&[data-year="#{$i}"] .san-jose-earthquakes {
			@include team-bg('san-jose-earthquakes-2000-2005', 20% 0, 0 47%);
		}
	}

	// 1996-1999
	@for $i from 1996 through 1999 {
		&[data-year="#{$i}"] .san-jose-earthquakes {
			@include team-bg('san-jose-earthquakes-1996-1999', 20% 10%, 0 79%);
		}
	}



	/* Seattle Sounders
	========================================================================== */
	.seattle-sounders {
		@include team-bg('seattle-sounders', 20% 0, 0 27%);
	}



	/* Sporting Kansas City
	========================================================================== */
	.sporting-kansas-city {
		@include team-bg('sporting-kansas-city', 20% 0, 0 47%);
	}

	// 1997-2010
	@for $i from 1997 through 2010 {
		&[data-year="#{$i}"] .sporting-kansas-city {
			@include team-bg('sporting-kansas-city-1997-2010', 10% 25%, 0 68%);
		}
	}

	// 1996
	&[data-year="1996"] .sporting-kansas-city {
		@include team-bg('sporting-kansas-city-1996', 20% 0, 0 50%);
	}



	/* Tampa Bay Mutiny
	========================================================================== */
	.tampa-bay-mutiny {
		@include team-bg('tampa-bay-mutiny', 0 0, 0 31%);
	}



	/* Toronto FC
	========================================================================== */
	.toronto-fc {
		@include team-bg('toronto-fc', 0 10%, 0 56%);
	}



	/* Vancouver Whitecaps
	========================================================================== */
	.vancouver-whitecaps {
		@include team-bg('vancouver-whitecaps', 20% 10%, 0 50%);
	}

}